.chart-series-line {
    -fx-stroke-width: 1;
}

.default-color0.chart-series-line {
    -fx-stroke: rgba(255, 0, 0, 1.0);
}

.red-unselected .default-color0.chart-series-line {
    -fx-stroke: rgba(255, 0, 0, 0);
}

.default-color1.chart-series-line {
    -fx-stroke: rgba(0, 255, 0, 1.0);
}

.green-unselected .default-color1.chart-series-line {
    -fx-stroke: rgba(0, 255, 0, 0);
}

.default-color2.chart-series-line {
    -fx-stroke: rgba(0, 0, 255, 1.0);
}

.blue-unselected .default-color2.chart-series-line {
    -fx-stroke: rgba(0, 0, 255, 0);
}

.default-color3.chart-series-line {
    -fx-stroke: rgba(0, 0, 0, 1.0);
    -fx-stroke-width: 1;
}

.gray-unselected .default-color3.chart-series-line {
    -fx-stroke: rgba(0, 0, 0, 0);
}

.frame {
    -fx-padding: 10;
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-insets: 5;
    -fx-border-radius: 5;
    -fx-border-color: grey;
}